* {
    margin: 0;
    padding: 0;
}
.head{
    background: #EEEFF1;

}

.wrap1 {
    display: flex;
    justify-content: space-around;
    color: #34547A;
    padding-top: 20px;
}

.p {
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #34547A;
}

.icon {
    font-family: 'Courier New', Courier, monospace;
}

.wrap2 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    .code {
        width: 200px;
    }
}

.card1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    width: 400px;
    padding-top: 10px;
}

.lorem{
    color: #727272;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 20px;
}
.write{
    color: white;
    background: #34547A;
    width: 130px;
    height: 40px;
}
.icon2{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 20px;
}
.lorem1{
    color: #727272;
    padding-left: 450px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 350px;
    padding-bottom: 40px;
}
.wrapper{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background: #34547A;
height: 100px;
padding-top: 50px;
color: white;
margin-bottom: 80px;
}
.photo1{
    width: 50px;
    height: 50px;
}
h1{
    font-size: 15px;
}
.hh1{
    font-size: 30px;
}
p{
    color: #727272;
    font-size: 15px;
}

.wrapper2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.man{
    width: 500px;
    margin-top: -50px;
}
.line{
    width: 400px;
    height: 10px;
}
.wrapper3{
    text-align: center;
    background: #EEEFF1;

}
.cp{
    width: 500px;
    height: 300px;
}
.howiwork{
    font-size: 30px;
    padding-bottom: 20px;
}
.lm{
    color: #727272;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.work{
    width: 100%;
 padding-top: 30px;
}
.microsofts{
    display: flex;
    justify-content: space-around;
}
.mc{
    width: 150px;
}
.wrapper4{
    background: #EEEFF1;
    text-align: center;
.vs{
    padding-top: 30px;
    font-size: 30px;
    padding-bottom: 20px;
}
.li{
    width:400px;
    padding-left: 430px;
    padding-bottom: 40px;
}
}
.box4{
    display: flex;
    justify-content: space-around;
}
.name{
    background-color: white;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dv{
    width: 50%;
    margin-left: 300px;
    background-color: white;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.send{
    color: white;
    background-color: #34547A;
    width: 150px;
    height: 40px;
}
footer{
   margin-top: 3px;
    background-color: #34547A;
    display: flex;
    justify-content: space-between;
}
.imgs{
    width: 60px;
    
}
.text{
    color: white;
}